node_modules/
server/config/hifiti-account.json
server/walker/.hifiti-chrome-profile/
.vscode
server/walker/data/*
.husky\pre-commit-notification\notification-counts.txt
.husky/pre-commit-notification/notification-counts.txt
.husky/pre-commit-notification/notification-counts.txt
.husky/pre-commit-notification/notification-counts.txt
