* {
  padding: 0;
  margin: 0;
}
#main{
  box-sizing: border-box;
  padding: 20px;
}
.sww-clear-float {
  zoom: 1;
}
.sww-clear-float:after {
  content: 'clr';
  height: 0;
  clear: both;
  visibility: hidden;
}
.sww-float-left {
  float: left;
}